<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jaggerwang.sbip.adapter.dao.mybatis.mapper.FileMapper" >
    <resultMap id="fileResultMap" type="file" >
        <id property="id" column="id" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file (user_id, region, bucket, path, meta)
        VALUES (#{userId}, #{region}, #{bucket}, #{path}, #{meta})
    </insert>

    <update id="update">
        UPDATE file
        <set>
            <if test="userId != null">user_id=#{userId}</if>
            <if test="region != null">region=#{region}</if>
            <if test="bucket != null">bucket=#{bucket}</if>
            <if test="path != null">path=#{path}</if>
            <if test="meta != null">meta=#{meta}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM file WHERE id=#{id}
    </delete>

    <select id="select" resultMap="fileResultMap">
        SELECT * FROM file WHERE id = #{id}
    </select>

    <select id="selectByIds" resultMap="fileResultMap">
        SELECT * FROM file WHERE id IN
        <foreach item="item" index="index" collection="#{ids}" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>