<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jaggerwang.sbip.adapter.dao.mybatis.mapper.PostMapper" >
    <select id="selectLiked" resultMap="mybatis-plus_Post">
        SELECT p.* FROM post p JOIN post_like pl ON p.id = pl.post_id
        WHERE pl.user_id = #{userId}
        LIMIT #{offset},#{limit}
    </select>

    <select id="selectFollowing" resultMap="mybatis-plus_Post">
        SELECT p.* FROM post p JOIN user_follow uf ON p.user_id = uf.following_id
        WHERE uf.follower_id = #{userId}
        <if test="beforeId != null">
            AND p.id &lt; #{beforeId}
        </if>
        <if test="afterId != null">
            AND p.id > #{afterId}
        </if>
        ORDER BY p.id DESC
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <select id="selectFollowingCount" resultType="long">
        SELECT COUNT(*) FROM post p JOIN user_follow uf ON p.user_id = uf.following_id
        WHERE uf.follower_id = #{userId}
    </select>
</mapper>