<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jaggerwang.sbip.adapter.dao.mybatis.mapper.PostStatMapper" >
    <resultMap id="postStatResultMap" type="postStat" >
        <id property="id" column="id" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_stat (post_id, like_count)
        VALUES (#{postId}, #{likeCount})
    </insert>

    <update id="update">
        UPDATE post_stat
        <set>
            <if test="postId != null">post_id=#{postId}</if>
            <if test="likeCount != null">like_count=#{likeCount}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM post_stat WHERE id=#{id}
    </delete>

    <select id="select" resultMap="postStatResultMap">
        SELECT * FROM post_stat WHERE id = #{id}
    </select>

    <select id="selectByPostId" resultMap="postStatResultMap">
        SELECT * FROM post_stat WHERE post_id = #{postId}
    </select>
</mapper>