<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jaggerwang.sbip.adapter.dao.mybatis.mapper.UserStatMapper" >
    <resultMap id="userStatResultMap" type="userStat" >
        <id property="id" column="id" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_stat (user_id, post_count, like_count, following_count, follower_count)
        VALUES (#{userId}, #{postCount}, #{likeCount}, #{followingCount}, #{followerCount})
    </insert>

    <update id="update">
        UPDATE user_stat
        <set>
            <if test="userId != null">user_id=#{userId}</if>
            <if test="postCount != null">post_count=#{postCount}</if>
            <if test="likeCount != null">like_count=#{likeCount}</if>
            <if test="followingCount != null">following_count=#{followingCount}</if>
            <if test="followerCount != null">follower_count=#{followerCount}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM user_stat WHERE id=#{id}
    </delete>

    <select id="select" resultMap="userStatResultMap">
        SELECT * FROM user_stat WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultMap="userStatResultMap">
        SELECT * FROM user_stat WHERE user_id = #{userId}
    </select>
</mapper>