<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.jaggerwang.sbip.adapter.dao.mybatis.mapper.UserMapper" >
    <select id="selectFollowing" resultMap="mybatis-plus_User">
        SELECT u.* FROM user u JOIN user_follow uf ON u.id = uf.following_id
        WHERE uf.follower_id = #{followerId}
        LIMIT #{offset},#{limit}
    </select>

    <select id="selectFollower" resultMap="mybatis-plus_User">
        SELECT u.* FROM user u JOIN user_follow uf ON u.id = uf.follower_id
        WHERE uf.following_id = #{followingId}
        LIMIT #{offset},#{limit}
    </select>
</mapper>